# Módulos de Node.js
node_modules/

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de registro
logs/
*.log

# Archivos de configuración
.env
config/

# Archivos de compilación
dist/
build/
out/

# Dependiendo del tipo de proyecto, es posible que también desees incluir ciertos archivos de IDE o editor de texto
# Ejemplo para Visual Studio Code
.vscode/